<div class="row">
	<div class="col-md-1">
		{{#link-to "about.index" tagName="button" classNames="btn btn-default"}}
			About
		{{/link-to}}
	</div>
	<div class="col-md-1">
		{{#link-to "about.team" tagName="button" classNames="btn btn-default"}}
			Team
		{{/link-to}}
	</div>
	<div class="col-md-1">
		{{#link-to "about.timeline" tagName="button" classNames="btn btn-default"}}
			Time Line
		{{/link-to}}
	</div>
	<div class="col-md-1">
		{{#link-to "about.design" tagName="button" classNames="btn btn-default"}}
			Design
		{{/link-to}}
	</div>
	<div class="col-md-1">
		{{#link-to "about.needfinding" tagName="button" classNames="btn btn-default"}}
			Need Finding
		{{/link-to}}
	</div>
	<div class="col-md-1">
		{{#link-to "about.videos" tagName="button" classNames="btn btn-default"}}
			Videos
		{{/link-to}}
	</div>
	<div class="col-md-offset-4 col-md-1">
		{{#link-to "/" tagName="button" classNames="btn btn-default"}}
			Login
		{{/link-to}}
	</div>
	<div class="col-md-1">
		{{#link-to "register" tagName="button" classNames="btn btn-default"}}
			Register
		{{/link-to}}
	</div>
</div>

{{outlet}}
