<div id="aboutNav" class="row">
	<div class="btn-group col-md-10">
		{{#link-to "about.index" tagName="button" classNames="btn btn-default"}}
			About
		{{/link-to}}
		{{#link-to "about.team" tagName="button" classNames="btn btn-default"}}
			Team
		{{/link-to}}
		{{#link-to "about.timeline" tagName="button" classNames="btn btn-default"}}
			Time Line
		{{/link-to}}
		{{#link-to "about.design" tagName="button" classNames="btn btn-default"}}
			Design
		{{/link-to}}
		{{#link-to "about.needfinding" tagName="button" classNames="btn btn-default"}}
			Need Finding
		{{/link-to}}
		{{#link-to "about.prototypes" tagName="button" classNames="btn btn-default"}}
			Prototypes
		{{/link-to}}
		{{#link-to "about.videos" tagName="button" classNames="btn btn-default"}}
			Videos
		{{/link-to}}
	</div>
	<div class="btn-group col-md-2">
		{{#link-to "login" tagName="button" classNames="btn btn-default"}}
			Login
		{{/link-to}}
		{{#link-to "register" tagName="button" classNames="btn btn-default"}}
			Register
		{{/link-to}}
	</div>
</div>

{{outlet}}
