<br>
<a href=""><p style="float:right">Logout &nbsp;</p></a>
<a href="/courses"><img src="assets/ClikUR-05.png" alt="clikUR logo" style="width:266px;height:90px;"></a>
<hr />



<div class="container">
	{{outlet}}
</div>
