<div style="background-color:#16203b">
<br>
<a href=""><p style="float:right">Logout &nbsp;</p></a>
<a href="/courses"><img src="assets/clikur_logo_white.png" alt="clikUR logo" style="width:220px;height:60px;"></a>
<hr />
</div>


<div class="container">
	{{outlet}}
</div>
