<html>
<head></head>

<body>

<form method="post"> 
	<fieldset>
		Username: <br>
		<input type="text" name="Username"><br>
		Password: <br>
		<input type="password" name="Password"><br><br>
		<input type="submit" value="Register">
		<input type="submit" value="Login">
	</fieldset>
</form>

<br><br>
<fieldset>
clickUR is a revolutionary new tool to improve classroom communication dynamics, specifically targeted towards large lecture halls. <br>
clickUR gives every student the ability to be seen and heard, sometimes even literally. <br>
clickUR also helps professors see how the entire class is progressing with their understanding of their material as well as enhances their ability to answer questions their students may have. <br>
clickUR is easily accessible and free for everyone. <br>

</fieldset>

</body>

</html>