<html>
<head></head>

<body>

<form action="_formhelpers.html" method="post"> 
	<fieldset>
		<label for="Username">
			Username:
		</label><br>
		<input type="text" name="username" id="username" placeholder="username"><br>
		<label for="Password">
			Password:
		</label><br>
		<input type="password" name="password" id="password" placeholder="password"><br>
		<br>
		<button type="button" id="btn_register" onclick="location.href='courses.hbs'">
			Register
		</button>
		<input type="submit" value="Sign In">
	</fieldset>
</form>

<br><br>
<fieldset>
clickUR is a revolutionary new tool to improve classroom communication dynamics, specifically targeted towards large lecture halls. <br>
clickUR gives every student the ability to be seen and heard, sometimes even literally. <br>
clickUR also helps professors see how the entire class is progressing with their understanding of their material as well as enhances their ability to answer questions their students may have. <br>
clickUR is easily accessible and free for everyone. <br>

</fieldset>

</body>

</html>