<body style="background-color:#ffffff">
<div class="row">
	<div class="col-md-6">
		<form style="background-color:#ec2e4a" id="loginForm" name="loginForm" method="post" class="form-horizontal"> 
			<br>
			
			<div class="form-group">
				<label for="email" class="col-md-offset-1 col-md-2 control-label">
					Email:
				</label>
				<div class="col-md-6">
					<input type="email" id="email" name="email" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-md-offset-1 col-md-2 control-label">
					Password:
				</label>
				<div class="col-md-6">
					<input type="password" id="password" name="password" class="form-control">
				</div>
			</div>
			<form class="form-inline col-md-offset-4">
				<div class="form-group">
					<div class="col-md-2">
						<a href="courses"><input type="button" id="submitLogin" name="submitLogin" class="btn btn-primary" value="Login"></a>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-5 col-md-2">
						<a href="register"><input type="button" id="register" name="register" class="btn btn-info" value="Register"></a>
					</div>
				</div>
			</form>
			
			<br>
		</form>
	</div>
	<div class="col-md-6" style="outline: thick solid #16203b">
		<br>
		<strong> ClikUR</strong> is a revolutionary new tool to improve classroom communication dynamics, specifically targeted towards large lecture halls. <br><br>
		<strong> ClikUR</strong> gives every student the ability to be seen and heard, sometimes even literally. <br><br>
		<strong> ClikUR</strong> also helps professors see how the entire class is progressing with their understanding of their material as well as enhances their ability to answer questions their students may have. <br><br>
		<strong> ClikUR</strong> is easily accessible and free for everyone. <br>
		<br>
	</div>
</div>
</body>