
<div id="registration">
	<form id="registrationInfo" name="registrationInfo">
	
		<h1>Registration</h1>
	
		<div>
			<input type="text" id="lastName" name="lastName" placeholder="Last Name" /> 
			<input type="text" id="firstName" name="firstName" placeholder="First Name" /><br>
			<input type="email" id="email" name="email" placeholder="Email" /><br>
			<input type="email" id="confEmail" name="confEmail" placeholder="Confirm Email" /><br><br>
			<input type="password" id="password" name="password" placeholder="Password" /><br>
			<input type="password" id="confPassword" name="confPassword" placeholder="Confirm Password" /><br>
		</div>
		
		<div>
			<button type="submit" id="submitInfo" name="submitInfo" onclick="checkConfirmations()">Finish</button>
		</div>
		
	</form>
</div>

<script>



</script>