<div class="row">
	<div class="col-md-12">
		<h2>About ClikUR</h2>
		<div>
			<h3>The Problem:</h3>
			<p>
				The means of communication between a professor and their students could be vastly improved. Many students feel embarrassed 
				to call attention to themselves by asking questions, to the point where students fail to get the information they need. 
				To make matters worse, even when students do raise their hands, larger lecture halls create situations where professors 
				may not actually see the hands raised, and where students sitting farther back than the first few rows may find it difficult 
				to make their voices heard across the room when called upon.  Furthermore, students often forget questions between the time 
				they need help and the time the professor calls on them. Lastly, there is no real-time means for students to give feedback 
				to the professor; if the students want their professor to improve, they must wait until at least the end of the lecture, 
				or possibly until the end of the semester, limiting them only to more general feedback, lacking in-the-moment context.
			</p>
			<p>
				In addition, professors who wish to engage with students in large lecture halls may find it difficult for many of the same reasons. 
				A professor who genuinely wishes to know the state of their students and their understanding is limited to vague hand counting and 
				the oft-uttered/just-as-oft-ignored "any questions?"
			</p>
			<p>
				There already is a product attempting to solve some of these problems. The iClicker is a portable device that allows professors 
				to collect responses to posted questions in multiple-choice and short-answer formats. However, this solution leaves much to be desired: 
				it is expensive, especially considering that there are multiple incompatible models, and one student may have to buy as many models 
				as there are courses they are taking in a single semester if each professor uses a different one; it features inconvenient T-9 typing; 
				communication between students and a professor is initiated by the professor only, meaning that students can only communicate 
				when the professor requests it; submissions cannot be anonymous (it is designed more for pop quizzes than for general participation);
				and carrying these things around gives students yet another thing to keep track of, having to remember to take it to every lecture 
				and make sure it doesn't break.
			</p>
			<h3>Our Solution:</h3>
			<p>
				To solve these problems, we propose ClikUR, a free and open source app and web service for smartphones and browsers that allows students 
				to anonymously ask questions (or simply call attention to their raising their hand in the traditional sense) and professors to send out 
				and collect responses to questions in multiple answer formats, providing a two-way communication channel between students and professors 
				during lecture. Students won't have to concern themselves with buying and keeping track of physical devices for just this one purpose, 
				since they will likely have a smartphone or a computer with them anyway. Students won't be restricted to using the service only 
				when the professor requests it, instead being allowed to submit questions and feedback at any time, leading to an immediate notification 
				on the professor's screen, with the option to remain anonymous. Providing a means of asking questions immediately maximizes context 
				and means students won't have to risk forgetting what they meant to say. Input will make use of existing smartphone interaction models 
				(like the touch keyboard) with which students will already be familiar.  Finally, more self-conscious students can have the option 
				to speak their minds without needing to be concerned about social judgment or embarrassment. And all of this comes without professors 
				losing any existing functionality.
			</p>
		</div>
	</div>
</div>