<div class="row">
	<div class="col-md-12">
		<h2>Prototypes</h2>
		<div class="row">
			<h3>Mobile App</h3>
			<div class="col-md-12 vertical-padding">
				<a href="https://drive.google.com/file/d/0B9rkZLC-xTU9NGwwTkV4RGh1X28/view?usp=sharing" target="_blank">
					<button type="button" class="btn btn-default">Mobile App Paper Prototype</button>
				</a>
			</div>
		</div>
		<div class="row">
			<h3>Instructor Website</h3>
			<div class="col-md-12 vertical-padding">
				<a href="https://drive.google.com/folderview?id=0By-OO89vNogvLXpjbUxlbXZtdzQ&usp=sharing" target="_blank">
					<button type="button" class="btn btn-default">Mobile App Paper Prototype</button>
				</a>
			</div>
			<div class="col-md-12 vertical-padding">
				<a href="https://docs.google.com/document/d/1BQaf8_ykfCQ6dSiNHWJTGQYdN7dbDF-1Ivj1ntKWgvQ/edit?usp=sharing" target="_blank">
					<button type="button" class="btn btn-default">Test #1</button>
				</a>
			</div>
			<div class="col-md-12 vertical-padding">
				<a href="https://docs.google.com/document/d/1uALG3y3NHCXj4FjJXsBXAkFBcMAdCMprW9g4kxDynfY/edit?usp=sharing" target="_blank">
					<button type="button" class="btn btn-default">Test #2</button>
				</a>
			</div>
			<div class="col-md-12 vertical-padding">
				<a href="https://blinding-heat-6163.firebaseapp.com/" target="_blank">
					<button type="button" class="btn btn-default">Live Site Prototype</button>
				</a>
			</div>
		</div>
	</div>
</div>
