<h2>The ClikUR Team</h2>
<div>
	<p>Team Mentor: Li Jin</p>
</div>
<div>
	<table class="table table-striped" id="teamRoster">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Status</th>
				<th>Role</th>
				<th>Picture</th>
			</tr>
			<tr>
				<td>Vivian Li</td>
				<td>B.S. Computer Science 2018</td>
				<td>Front-App, Design</td>
				<td><img src="assets/about/vivian.jpg" title="Vivian" alt="Photo of Vivian" /></td>
			</tr>
			<tr>
				<td>Stephen Cohen</td>
				<td>B.S. Computer Science 2018</td>
				<td>Front-App</td>
				<td><img src="assets/about/stephen.jpg" title="Stephen" alt="Photo of Stephen" /></td>
			</tr>
			<tr>
				<td>Tom Nichols</td>
				<td>B.A. Computer Science 2018</td>
				<td>Front-Web</td>
				<td><img src="assets/about/tom.jpg" title="Tom" alt="Photo of Tom" /></td>
			</tr>
			<tr>
				<td>Shuyang Liu</td>
				<td>B.S. Computer Science 2017</td>
				<td>Front-App, Design</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>German Hernandez</td>
				<td>B.A Psychology Major, Comp. Sci. minor 2017</td>
				<td>Front-Web, Design</td>
				<td><img src="assets/about/german.jpg" title="German" alt="Photo of German" /></td>
			</tr>
			<tr>
				<td>Emma Scott</td>
				<td>B.S. BCS, Computer Science minor 2017</td>
				<td>Front-Web</td>
				<td><img src="assets/about/emma.jpg" title="Emma" alt="Photo of Emma" /></td>
			</tr>
			<tr>
				<td>YuhYeu(Jack) Shih</td>
				<td>M.S. Computer Science 2016</td>
				<td>Front-App</td>
				<td><img src="assets/about/jack.jpg" title="Jack" alt="Photo of Jack" /></td>
			</tr>
			<tr>
				<td>Peter Finn</td>
				<td>M.S. Computer Science 2016</td>
				<td>Front-Web</td>
				<td><img src="assets/about/peter.jpg" title="Peter" alt="Photo of Peter" /></td>
			</tr>
			<tr>
				<td>Abdullah Al Mamun</td>
				<td>B.S. Computer Science 2017</td>
				<td>Backend</td>
				<td><img src="assets/about/abdullah.jpg" title="Peter" alt="Photo of Abdullah" /></td>
			</tr>
		</tbody>
	</table>
</div>
