<div class="row">
	<div class="col-md-12 timeline">
		<h2>Planned Time Line</h2>
		<ul class="list-group">
			<li class="list-group-item">
				<ul><strong>Concept Video</strong>
					<li>Date: By October 26th</li>
					<li>Members: Everyone</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>Paper Prototype (Web &amp; App)</strong>
					<li>
						Date: By October 28th
						<br />
						Analyze results by October 29th-30th
					</li>
					<li>
						Members: Tom, Emma, German, Peter (Web)
						<br />
						Stephen, Shuyang, Vivian, Jack (App)
					</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>Finalize API Specification</strong>
					<li>Date: By October 29th</li>
					<li>Leads: Abdullah, Yukako</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>Needfinding (Surveys &amp; Interviews)</strong>
					<li>
						Date: Surveys and interviews completed and sent out by October 31st
						<br />
						Analysis by November 2nd
					</li>
					<li>Members: Jack (student interviews), Abdullah (surveys, professor interviews)</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>App Milestone 1</strong>
					<li>Date: By November 2nd</li>
					<li>Registration, Login, and App Home</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>Instructor Website Milestone 1</strong>
					<li>Date: By November 2nd</li>
					<li>Registration, Login, and Landing Page</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>First Draft of Design Direction</strong>
					<li>Date: By November 1st</li>
					<li>Leads: Vivian, German, Shuyang</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>&quot;C&quot; Part of the CRUD Application (Creating new items in the database)</strong>
					<li>Date: By November 2nd to 8th</li>
					<li>Members: Abdullah and Yukako (member of the CSC 210 group project)</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>App Milestone 2</strong>
					<li>Date: By November 8th</li>
					<li>Class Home, Add Class UI</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>Instructor Website Milestone 2</strong>
					<li>Date: By November 11th</li>
					<li>Instructor Admin Page: Add a Class, Upload Quiz Questions</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>(Interactive) Wireframe</strong>
					<li>
						Date: By November 6th
						<br />
						Tested by November 8th
					</li>
					<li>Members: Vivian, German, Shuyang</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>Part of a Functional Database (Backend)</strong>
					<li>Details: Create Account, Login Option, Cookies, Logout Option</li>
					<li>Date: By November 16th</li>
					<li>Members: Abdullah, Yukako</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>App Milestone 3</strong>
					<li>Date: By November 22nd</li>
					<li>Submit Question/Comment, View/Edit Pending Questions, Answer Quiz Question</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>Instructor Website Milestone 3</strong>
					<li>Date: By November 22nd</li>
					<li>In-class Page: Display Quiz Questions, View Quiz Results, View and Resolve Student Questions, Raised Hand Notification</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>Completed Alpha Version of App/Instructor Website</strong>
					<li>Date: By November 23rd</li>
					<li>Members: Everyone</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>Bug Testing and Polishing</strong>
					<li>
						Date: Start on November 23rd
						<br />
						Finish by November 30th
					</li>
					<li>Members: Everyone</li>
				</ul>
			</li>
			<li class="list-group-item">
				<ul><strong>Fully Functional Database with Non-Trivial Ajax CRUD Functionality</strong>
					<li>Date: November 30th to December 6th</li>
					<li>Members: Abdullah and Yukako</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
