<div class="row">
	<div class="col-md-12">
		<h2>Videos</h2>
		<div>
			<video width="640" height="480" controls>
				<source src="assets/about/ClikURVideo.mov" type="video/mov">
				Your browser does not support the video tag.
			</video>
		</div>
	</div>
</div>
