<div class="row">
	<div class="col-md-12">
		<h2>ClikUR Video</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/O4QNerLzwkA?list=PL5aTD63kf1EB3wzBrkOvyl2HqnQX_DziS" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
