@font-face {
    font-family: "raleway";
    src: url("./fonts/raleway-regular-webfont.woff") format('woff'),
         url("./fonts/raleway-regular-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "nixieone";
    src: url("./fonts/nixieone-regular-webfont.woff") format('woff'),
         url("./fonts/nixieone-regular-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "raleway",sans-serif;
    background-image: none;
}

html, body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-content-zooming: none;
    font-family: "raleway", sans-serif;
    background-color: #313A50;
    color: #F7F7F7;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

router-view {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

h1 {
    font-family: "nixieone";
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    margin: 25px 0;
    font-weight: bold;
}

h1:first-child {
    margin-top: 0;
}

button {
    background-color: #636F8C;
    color: #ffffff;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0px;
    border-radius: 8px;
    margin: 10px;
}

button.disabled {
    background-color: dimgray;
}

button:not(.disabled):active {
  background-color: #16203B;
  color: lightgray;
}

input[type=text], input[type=password] {
    padding: 5px 8px;
    border: 1px solid #ccc;
    height: 1.5em;
    font-size: 1.2em;
}

input[type=text]:focus, input[type=password]:focus {
    border-color:#ff0066;
}

.deadCenter {
    position: absolute;
    bottom: 50% !important;
    right: 50% !important;
    transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(50%) translateY(50%);
}

#backButton {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../img/back.png");
    z-index: 100;
}

.clear {
    height: 1px;
    width: 0;
    clear: both;
    margin: -1px 0 0;
    padding: 0;
}

header {
    background-color: #0C485D;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    z-index: 10;
}

header h1 {
    font-size: 2em;
    position: relative;
    margin: 0;
    line-height: 3rem;
}

/* Landscape layout (with min-width) I left this here for reference ~~@stesen */
/*
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}*/
