* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "raleway",sans-serif;
}

@font-face
{
    font-family: "raleway";
    src: url("./fonts/raleway-regular-webfont.woff") format('woff'),
         url("./fonts/raleway-regular-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -ms-user-select: none;
    user-select: none;
    font-family: "raleway",sans-serif;
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;

}

.deadCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

#backButton {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/back.png");
}

/* Landscape layout (with min-width) I left this here for reference ~~@stesen */
/*
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}*/
