[data-route="view-models/askQuestion"] {
    text-align: center;
    padding-top: 3em;
}

[data-route="view-models/askQuestion"] #questionField {
	height: 50%;
    width: calc(100% - 20px);
	margin: 10px;
    box-sizing: border-box;
}

[data-route="view-models/askQuestion"] #anonymous {
    margin: 10px auto;
}

[data-route="view-models/askQuestion"] p {
    font-size: .8em;
    margin: 10px;
}

[data-route="view-models/askQuestion"] #submit {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
}
