#questionContainer{
	text-align: left;
    padding: 0;
    margin: 0;
    width: 90%;
}
#mainTitle {
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 10px;
}

#questionField{
	height: auto;
    width: 100%;
	margin: 0 auto;
}
#submit{
    display: block;
    width: 90%;
    margin-top: 15px;
}
#anonymous{
    margin: 10 0;
    left: 0px;
    vertical-align: bottom;
}
p{
    font-size: 90%;
    text-align: center;
}