#route-login #loginContainer {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 80%;
}

#route-login #mainTitle {
    font-weight: bold;
    text-align: center;
    font-size: 4em;
}

#route-login input {
    width: 90%;
    margin: 0 auto 10px;
}

#route-login button {
    display: block;
    width: 90%;
    margin: 0 auto 10px;
    text-align: center;
}

#route-login #signin_btn {
  margin-top: 15px;
}
