<template>
    <require from="css/answerQuestion.css"></require>
    
	<div class="topCenter">
        <!--This is the header-->
        <h1 id="questionHeader">Question X</h1>
    </div>

    <div class="formCenter" id="RadioContainer" if.bind="showRadio">
        <!--RADIO INPUT-->
        <h2 value.bind="question">Temp</h2>
        <input type="radio" name="choices" repeat.for="choice of choices"
			value.bind="choice" />
    </div>

	<div class="formCenter" id="TextContainer" if.bind="showText">
        <!--TEXT INPUT-->
        <h2 value.bind="question">Temp</h2>
        <input type="text" name="text" value.bind="sometext" />
    </div>

	<div class="formCenter" id="ImageContainer" if.bind="showImage">
        <!--IMAGE-->
        <h2 value.bind="question">Temp</h2>
		<img id="answerImage" src.bind="image1"
			 alt="Answer" style="width:250px;height:250px;">
		<button role="button" click.delegate="takePicture()">Take Picture</button>
    </div>

	<div class="bottomCenter">
        <button role="button" click.delegate="submitAnswer()">Submit</button>
    </div>
 
</template>
