<template>
    <require from="view-models/questionBox"></require>
    <require from="css/courseHome.css"></require>

    <div class="viewWrapper" id="route-courseHome">
        <header>
            <h1>${course.callSign}</h1>
        </header>

        <question-box id="userQuestions" collection.bind="course.userQuestions" route-name="edit" course-id.bind="course.id" title="Your Questions" show-list.bind="expandUserQuestions" touchend.trigger="toggleUserQuestions()"></question-box>

<!--        <question-box id="quizQuestions" question-map.bind="course.quizQuestions" route-name="answer" course-id.bind="course.id" title="Quiz Questions" show-list.bind="expandQuizQuestions" touchend.trigger="toggleQuizQuestions()"></question-box>-->

        <div class="clear"></div>

        <div id="raiseHand">Raise Hand!</div>

        <button role="button" id="askButton" touchend.delegate="askQuestionAction()">Ask a Question</button>
    </div>
</template>
