<template>
    <require from="view-models/questionBox"></require>
    <require from="css/courseHome.css"></require>

    <h1>${course.callSign}</h1>
    
    <question-box question-map.bind="course.userQuestions" route-name="edit" course-id.bind="course.id" title="Pending Questions"></question-box>
    <question-box question-map.bind="course.quizQuestions" route-name="answer" course-id.bind="course.id" title="Quiz Questions"></question-box>

    <div id="raiseHand">Raise Hand!</div>
    
    <div class="bigButton" touchend.delegate="askQuestionAction()">Ask a Question</div>
</template>
