<template>
    <require from="view-models/courseView"></require>
    <require from="css/home.css"></require>
    
    <header>
        <button role="button" id="logoutBtn" touchend.delegate="logOutAction()">Log Out</button>
        <h1>ClikUR</h1>
    </header>
    <div class="list">
        <course-view repeat.for="course of userData.courseList" index.bind="$index" course.bind="course" touchend.delegate="courseSelectAction($index)"></course-view>
    </div>
    <div id="addClass" touchend.delegate="addClassAction()">Add a Class</div>
</template>
