<template>
    <require from="css/login.css"></require>
    
    <div class="deadCenter" id="loginContainer">
        <!--TODO Replace this with an actual logo-->
        <h1 id="mainTitle">ClikUR</h1>
        <input  placeholder="Email" type="text" value.bind="email" name="emailField" id="emailField">
        <input placeholder="password" type="password" value.bind="password" name="pwField" id="pwField">
        <button role="button" touchend.delegate="attemptLogin()">Sign in</button>
        <button role="button" touchend.delegate="signupAction()">Create Account</button>
    </div>
</template>
