<template>
    <require from="css/login.css"></require>

    <div class="deadCenter" id="loginContainer">
        <!--TODO Replace this with an actual logo-->
        <h1 id="mainTitle">ClikUR</h1>
        <input  placeholder="Email" type="text" value.bind="email" name="emailField" id="emailField">
        <input  placeholder="password" type="password" value.bind="password" name="pwField" id="pwField">
        <button id="signin_btn" role="button" touchend.delegate="attemptLogin()">Sign In</button>
        <button id="signup_btn" role="button" touchend.delegate="signupAction()">Sign Up</button>

    </div>
</template>
