<template>
    <require from="css/questionBox.css"></require>
    
    <div class="dimmer ${showList ? 'on' : ''}">
        <div class="wrapper ${showList ? 'expanded deadCenter' : ''}">
            <h2 class="title">${title}</h2>

            <div class="itemCount ${questionMap.size === 0 ? 'empty' : ''}" if.bind="!showList">
                <h2 class="deadCenter">${questionMap.size}</h2>
            </div>

            <div class="list" if.bind="showList && !updating">
                <div repeat.for="[id, question] of questionMap" class="listItem" touchend.trigger="show_q_detail($event, id)">${question.text}</div>
            </div>
        </div>
    </div>
</template>
