<template>
    <require from="css/questionBox.css"></require>

    <h2 class="title">${title}</h2>

    <div class="itemCount" if.bind="!showList">
        <h2 class="title">${questionMap.size}</h2>
    </div>

    <div class="list_view" if.bind="showList">
        <div class="listWrapper">
            <div class="list" if.bind="!updating">
                <div repeat.for="[id, question] of questionMap" touchend.trigger="show_q_detail($event, id)">${question.text}</div>
            </div>
        </div>
    </div>
</template>
