<widget
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="edu.rochester.clikur"
    version="1.0.0"
    versionCode="1"
    defaultlocale="en-US">
    <!--Identity info-->
    <name>ClikUR</name>
    <description>Student-professor engagement tool for large lecture halls</description>
    <author href="http://clikur.xyz" email="clikur@googlegroups.com">ClikUR Team</author>
    
    <!--Name of the "home" page-->
    <content src="index.html"/>
    
    
    <!--Preferences-->
    <!--Global-->
    <preference name="phonegap-version" value="cli-5.2.0"/>
    <!--"default" means both portrait and landscape are allowed. Remove this preference entirely for true platform defaults-->
    <preference name="orientation" value="default"/>
    <!--Fullscreen means hiding the status bar at the top of the screen. I see no reason to do that for our app ~~stesen-->
    <preference name="fullscreen" value="false"/>
    
    <!--iOS-->
    <!--Right now we're only targeting handhelds, not tablets.-->
    <preference name="target-device" value="handset"/>
    <!--Set this to false to let iOS put a shine on our icon-->
    <preference name="prerendered-icon" value="true"/>
    <preference name="permissions" value="none"/>
    <preference name="show-splash-screen-spinner" value="true"/>
    <preference name="auto-hide-splash-screen" value="true"/>
    
    <!--Android-->
    <preference name="android-minSdkVersion" value="14"/>
    <preference name="android-installLocation" value="auto"/>
    
    <!--Windows Phone-->
    <preference name="windows-target-version" value="8.1"/>
    
    
    <!--Plugins: Add these as we need them-->
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <gap:plugin name="cordova-plugin-console" source="npm"/>
<!--
    <gap:plugin name="cordova-plugin-battery-status" source="npm"/>
    <gap:plugin name="cordova-plugin-camera" source="npm"/>
    <gap:plugin name="cordova-plugin-media-capture" source="npm"/>
    <gap:plugin name="cordova-plugin-contacts" source="npm"/>
    <gap:plugin name="cordova-plugin-device" source="npm"/>
    <gap:plugin name="cordova-plugin-device-motion" source="npm"/>
    <gap:plugin name="cordova-plugin-device-orientation" source="npm"/>
    <gap:plugin name="cordova-plugin-dialogs" source="npm"/>
    <gap:plugin name="cordova-plugin-file" source="npm"/>
    <gap:plugin name="cordova-plugin-file-transfer" source="npm"/>
    <gap:plugin name="cordova-plugin-geolocation" source="npm"/>
    <gap:plugin name="cordova-plugin-globalization" source="npm"/>
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
    <gap:plugin name="cordova-plugin-media" source="npm"/>
    <gap:plugin name="cordova-plugin-network-information" source="npm"/>
    <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
    <gap:plugin name="cordova-plugin-vibration" source="npm"/>
-->
    
    <!--Visual assets-->
    <!--Default-->
    <icon src="icon.png"/>
<!--    <gap:splash src="splash.png"/> ADD THIS LATER-->
    
    <!--Android-->
    <icon src="res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
    <icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
    <icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
    <icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="port-ldpi"/>
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="port-mdpi"/>
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="port-hdpi"/>
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi"/>
    
    <!--iOS-->
    <icon src="res/icon/ios/icon-57.png" gap:platform="ios" width="57" height="57"/>
    <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72"/>
    <icon src="res/icon/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114"/>
    <icon src="res/icon/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144"/>
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480"/>
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960"/>
    <gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136"/>
    <gap:splash src="res/screen/ios/screen-ipad-portrait.png" gap:platform="ios" width="768" height="1024"/>
    <gap:splash src="res/screen/ios/screen-ipad-landscape.png" gap:platform="ios" width="1024" height="768"/>
    
    <!--Windows Phone-->
    <platform name="windows">
        <!--Put stuff here later!-->
    </platform>
    
    <!--Networking whitelist-->
    <!--allow-intent applies to opening links out of the app in a browser-->
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    
    <!--Platform declarations and specific prefs-->
    <gap:platform name="android"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    
    <gap:platform game="ios"/>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
    
    <!--Windows Phone has to be built locally-->
</widget>