<widget
    xmlns="http://www.w3.org/ns/widgets"
    id="edu.rochester.clikur"
    version="0.1.0"
    android-versionCode="1"
    defaultlocale="en-US">
    <!--Identity info-->
    <name>ClikUR</name>
    <description>Student-professor engagement tool for large lecture halls</description>
    <author href="http://clikur.xyz" email="clikur@googlegroups.com">ClikUR Team</author>
    
    <!--Name of the "home" page-->
    <content src="index.html"/>
    
    
    <!--Preferences-->
    <!--Global-->
    <!--"default" means both portrait and landscape are allowed. Remove this preference entirely for true platform defaults-->
    <preference name="orientation" value="default"/>
    <!--Fullscreen means hiding the status bar at the top of the screen. I see no reason to do that for our app ~~stesen-->
    <preference name="fullscreen" value="false"/>
    
    <!--iOS-->
    <!--Right now we're only targeting handhelds, not tablets.-->
    <preference name="target-device" value="handset"/>
    <!--Set this to false to let iOS put a shine on our icon-->
    <preference name="prerendered-icon" value="true"/>
    <preference name="permissions" value="none"/>
    <preference name="show-splash-screen-spinner" value="true"/>
    <preference name="auto-hide-splash-screen" value="true"/>
    
    <!--Android-->
    <preference name="android-minSdkVersion" value="14"/>
    <preference name="android-installLocation" value="auto"/>
    
    <!--Windows Phone-->
    <preference name="windows-target-version" value="8.1"/>
    
    <!--Visual assets-->
    <!--Default-->
    <icon src="icon.png"/>
<!--    <splash src="splash.png"/> ADD THIS LATER-->
    
    <!--Networking whitelist-->
    <!--allow-intent applies to opening links out of the app in a browser-->
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    
    <!--access allow downloading www/resources-->
    <access origin="http://clikur.xyz"/>
    <access origin="https://clikur.xyz"/>
    
    <!--Platform declarations and specific prefs-->
    <platform name="android">
        <allow-intent href="market:*"/>
        <icon src="www/res/icon/android/icon-36-ldpi.png" density="ldpi"/>
        <icon src="www/res/icon/android/icon-48-mdpi.png" density="mdpi"/>
        <icon src="www/res/icon/android/icon-72-hdpi.png" density="hdpi"/>
        <icon src="www/res/icon/android/icon-96-xhdpi.png" density="xhdpi"/>
        <splash src="www/res/screen/android/screen-ldpi-portrait.png"  density="port-ldpi"/>
        <splash src="www/res/screen/android/screen-mdpi-portrait.png"  density="port-mdpi"/>
        <splash src="www/res/screen/android/screen-hdpi-portrait.png"  density="port-hdpi"/>
        <splash src="www/res/screen/android/screen-xhdpi-portrait.png"  density="port-xhdpi"/>
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
        <icon src="www/res/icon/ios/icon-57.png" width="57" height="57"/>
        <icon src="www/res/icon/ios/icon-72.png" width="72" height="72"/>
        <icon src="www/res/icon/ios/icon-57-2x.png" width="114" height="114"/>
        <icon src="www/res/icon/ios/icon-72-2x.png" width="144" height="144"/>
        <splash src="www/res/screen/ios/screen-iphone-portrait.png" width="320" height="480"/>
        <splash src="www/res/screen/ios/screen-iphone-portrait-2x.png" width="640" height="960"/>
        <splash src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136"/>
        <splash src="www/res/screen/ios/screen-ipad-portrait.png" width="768" height="1024"/>
        <splash src="www/res/screen/ios/screen-ipad-landscape.png" width="1024" height="768"/>
    </platform>
    
    <platform name="windows">
        <!--Put stuff here later!-->
    </platform>
</widget>
