<div class="row">
	<div class="col-md-3">
	<h3>Students</h3>
	{{#each model.students as |student|}}
		{{student-info student=student}}
	{{/each}}
	</div>
	<div class="col-md-7">
		<h3 id="classtitle">Death, Dying, and Beyond</h3>
		<h4 id="classsemester">Fall Semester</h4>
		<div class="row">
			<div class="col-md-3">
				<h3 id="quizzesTitle">Quizzes</h3>
			</div>
			<div class="col-md-offset-6 col-md-2">
				<a href="course/{{model.course.id}}/quizzes/add"><button type="button" id="addQuiz" name="addQuiz" class="btn btn-default">Add Question</button></a>
			</div>
		</div>
		<div class="row">		
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Question</th>
						<th>Status</th>
					</tr>
					{{#each model.quizzes as |quiz|}}
						{{quiz-question quiz=quiz}}
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="col-md-2">
		<div class="col-md-10">
			<a href="/lecture/{{model.course.id}}"><button type="button" id="btn_lecture" name="btn_lecture" class="btn btn-primary">
				Start Lecture
			</button></a>
		</div>
		<div class="col-md-10">&nbsp;</div>
		<div class="col-md-10">
			<a href="courses"><button type="button" id="btn_courses" name="btn_courses" class="btn btn-default">
				Return to Course List
			</button></a>
		</div>
		<div class="col-md-10">&nbsp;</div>
		<div class="col-md-10">
			<a href="courses/add"><button type="button" id="btn_addCourse" name="btn_addCourse" class="btn btn-default">
				Create New Course
			</button></a>
		</div>
	</div>
</div>
