<form id="addCourse" name="addCourse" class="form-horizontal">
	<h2>Add a Course</h2>
	<div class="form-group form-group-lg">
		<label for="course" class="col-md-2 control-label">
			Course:
		</label>
		<div class="col-md-10">
			<input type="text" id="course" name="course" class="form-control" placeholder="MTH 161" />
		</div>
	</div>
	<div class="form-group form-group-lg">
		<label for="courseTitle" class="col-md-2 control-label">
			Course Title:
		</label>
		<div class="col-md-10">
			<input type="text" id="courseTitle" name="courseTitle" class="form-control" placeholder="Calculus IA" />
		</div>
	</div>
	<div class="form-group form-group-lg">
		<label for="crn" class="col-md-2 control-label">
			CRN:
		</label>
		<div class="col-md-10">
			<input type="text" id="crn" name="crn" class="form-control" placeholder="29288" />
		</div>
	</div>
	<div class="form-group form-group-lg">
		<label class="col-md-2 control-label">
			Term:
		</label>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-5">
					<select id="semester" name="term" class="form-control">
						<option value="Fall">Fall</option>
						<option value="Spring">Spring</option>
						<option value="Summer">Summer</option>
					</select>
				</div>
				<div class="col-md-5">
					<select id="year" name="year" class="form-control">
						<option value="2016">2016</option>
						<option value="2017">2017</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group form-group-lg">
		<div class="col-md-offset-2 col-md-2">
			<button type="submit" id="submitCourse" name="submitCourse" class="btn btn-primary btn-lg">Submit</button>
		</div>
	</div>
</form>
