<h2>Add a Course</h2>

<div>
	<form id="addCourse" name="addCourse">
		<div>
			<label for="course" class="field-label">
				Course:
			</label>
			<input type="text" id="course" name="course" placeholder="MTH 161" />
		</div>
		<div>
			<label for="courseTitle" class="field-label">
				Course Title:
			</label>
			<input type="text" id="courseTitle" name="courseTitle" placeholder="Calculus IA" />
		</div>
		<div>
			<label for="crn" class="field-label">
				CRN:
			</label>
			<input type="text" id="crn" name="crn" placeholder="29288" />
		</div>
		<div>
			<label class="field-label">
				Term:
			</label>
			<select id="semester" name="term">
				<option value="Fall">Fall</option>
				<option value="Spring">Spring</option>
				<option value="Summer">Summer</option>
			</select>
			<select id="year" name="year">
				<option value="2016">2016</option>
				<option value="2017">2017</option>
			</select>
		</div>
		<div>
			<button type="submit" id="submitCourse" name="submitCourse">Submit</button>
		</div>
	</form>
</div>

{{outlet}}
