<div class="row">
	<div class="col-md-3">
		<h2>Course List</h2>
	</div>
	<div class="col-md-2 col-md-offset-7">
		{{#link-to "courses.add" tagName="button" id="addCourse" name="addCourse" classNames="btn btn-default"}}
			Add Course
		{{/link-to}}
	</div>
</div>

<div class="row">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>&nbsp;</th>
				<th>Course</th>
				<th>Title</th>
				<th>CRN</th>
				<th>Semester</th>
				<th>Schedule</th>
			</tr>
			{{#each model as |course|}}
				{{course-item course=course}}
			{{/each}}
		</tbody>
	</table>
</div>
