* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #333;
	font-size: 24px;
	font-family: Arial, Verdana, sans-serif;
}

body {
	background-color: #ddd;
	min-width: 50em;
	width: 60em;
	min-height: 40em;
	position: relative;
	margin: 0 auto;
	padding: 2em;
}

div, p, hr {
	margin: 1em;
}

input, select, button {
	line-height: 1.4em;
	font-size: 1.3em;
}

button {
	padding: 0.3em;
	background-color: #ddd;
	color: #333;
	border: 2px solid #333;
	border-radius: 0.5em;
}

.field-label {
	display: inline-block;
	width: 10em;
	font-size: 1.3em;
}

/* templates/courses/add.hbs */

#addCourseDiv {
	position: relative;
}

#addCourseDiv form {
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);	
}

#submitCourse {
	position: relative;
	left: 10em;
}

#submitCourse:hover {
	background-color: #333;
	color: #ddd;
}