<div class="row">
	<div class="col-md-12">
		{{student.name}}
	</div>
	<div class="col-md-12">
		{{student.email}}
	</div>
	{{#if student.blocked}}
		<div class="col-md-1">
			<button class="btn btn-warning">Unblock</button>
		</div>
	{{/if}}
</div>
<hr class="col-md-10" />
